table, textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width:100%;
}
table {
    padding-bottom:2em;
}
body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}
h1,h2,h3{
    line-height:1.2
}
.centerize {
    text-align: center;
}
canvas {
    padding: 0;
    padding-top: 2em;
    margin: auto;
    display: block;
    width: 650px;
}
