html {
    font-size:125%;
    background-color: #636363;
    background-image: url("./res/noise.png");
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-flow: column nowrap;
}

body{
    width: 100%;
    max-width: 1000px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height:1.6;
    color:#444;
    background-color:#FAFAFA;
    text-align: justify;
    text-justify: inter-word;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 125%;
  margin-top: 2rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 1rem;
  border-left: 0.5em #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure img {
  display: block;
  text-align: center;
  margin: 1em 0;
  border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}


.author {
  font-size: 1.2em;
  text-align: center;
}

.centerize {
  text-align: center;
}

#errorOutput {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  background-color: #ffebee;
  color: #d50000;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}


table, textarea, kbd {
    font-family:firacode,Consolas,Monaco,Lucida Console, monospace;
    width:100%;
}

/*
 * Thanks to James Edwards, see
 * https://www.sitepoint.com/best-practice-for-code-examples/
 */
/* re-factor the existing styles so that the layout 
   is on the inner code element rather than the outer pre, 
   and extend the font reset to all descendents */
figure
{
    display:block;
    margin:1em 0;
    border:1px solid #ccc;
    border-radius:3px;
    background:#eee;
}
pre, pre *
{
    font:normal normal normal 1em/1.4 monaco, courier, monospace;
}
pre
{
    font-size:0.8em;
}
pre, pre code, pre samp
{
    display:block;
    margin:0;
    cursor:text;
}
pre code, pre samp
{
    /* explicit white-space is needed for IE7 */
    white-space:pre;
    padding:10px;

    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    overflow-x:auto;
}

/* extra layout rules for the pre when the numbers column is present */
pre.line-numbers
{
    position:relative;
}
pre.line-numbers code, 
pre.line-numbers samp
{
    margin-left:3em;
    border-left:1px solid #ccc;
}

/* layout and counter rules for the numbers column */
pre.line-numbers > div
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    border-radius:0 0 0 3px;
    background:#e5e5e5;
    overflow:hidden;
    counter-reset:line;
}

/* layout and counter rules for each individual number */
pre.line-numbers > div > span
{
    display:block;
    width:2.5em;
    padding:0 0.5em 0 0;
    text-align:right;
    color:#777;
    overflow:hidden;
    counter-increment:line;
}
pre.line-numbers > div > span::before
{
    content:counter(line);
}
pre.line-numbers > div > span:first-child
{
    margin-top:10px;
}
pre.line-numbers > div > span:nth-child(odd)
{
    background:#dfdfdf;
}

/* negate the numbers column for print since it uses pre-wrap */
@media print
{
    pre code
    {
        overflow-x:visible;
        white-space:pre-wrap;
    }
    pre.line-numbers div
    {
        display:none;
    }
    pre.line-numbers > code, 
    pre.line-numbers > samp
    {
        margin-left:0;
    }
}

code b
{
    font-weight:normal;
    color:#039;
}
code u, code u b
{
    text-decoration:none;
    color:#083;
}
code i, code i *, code i * *
{
    letter-spacing:-0.1em;
    text-decoration:none;
    font-style:normal;
    color:#c55;
}

canvas {
    padding: 0;
    padding-top: 2em;
    margin: auto;
    display: block;
}

cite {
    font-style: normal;
}

button {
  background: none;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #0645ad;
  font-size: 1rem;
  border: none;
}

button:hover {
    background: #3cb0fd22;
    text-decoration: none;
}
